name: t3-chat-build
services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=t3chat
    ports:
      - "5432:5432"
    restart: always
